<!-- <html>
    <head>
        <title><%=title%></title>
    </head>
    <body>  (commented for the functioning of layouts.)-->

<!-- <header>
            Page Header
        </header> -->
<!-- Using Partials -->
<!-- removed the commented "include header part" as it was making the header to be included twice -->
<h1>Codeial Home / <%=title%>
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" method="post" id="new-post-form">
        <textarea name="content" cols="30" rows="3" placeholder="Type text here..."></textarea>
        <input type="submit" value="Post">
    </form>

<div id="posts-list-container">
    <ul>
        <%for(post of posts){%>
                <li>
                    <p>
                        <%=post.content%>
                        <br>
                        <small>
                            <%=post.user.name%>
                        </small>
                    </p>
                </li>
        <%}%>
    </ul>
</div>
</section>
<!-- <%-include('_footer');%> -->
<!-- <footer>
            Page Footer
        </footer> -->
<!-- </body> -->
<!-- </html> -->