<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- this path will be read through the assets folder, 
        since we've already mentioned in the index.js app file 
        to look for the static files in assets folder. -->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%-style%>
        <!-- this way, the stylesheet will be read through the link tag provided in the
            target view or html file :) -->
        <!-- Good practice, to place the user defined individual styles after the layout's styles,
            so that they can override the existing styles from layout. -->
    </head>
    <body>
        <%-include('_header');%>
        <%if(flash.success && flash.success.length>0){%>
            <h5> <%=flash.success%> </h5>
        <%}%>
        <main id="layout-main">
            <%-body%> 
        </main>
        <%-include('_footer');%>
        <%-script%>
    </body>
</html>