<!-- <html>
    <head>
        <title>
            <%=locals.title%>
        </title>
    </head>
    <body> (commented for the functioning of layouts.) -->
<!-- <header>
            Page Header
        </header> -->
<!-- Using Partials -->
<!-- removed the commented "include header part" as it was making the header to be included twice -->

<!-- 1.including css file for this page separately.
 not an optimised approach, since the link is just floating, not properly placed in the head tag.
 still laying my hands on it to just explore!! :P
 2. above approach is insufficient when the app isn't extracting styles in the app index file. -->

<link rel="stylesheet" href="/css/user_profile.css">
<% if(locals.user.id != profile_user.id){%>
    <img src="<%=profile_user.avatar%>" width="100" id="img_dp" >
<%}else{%>
    <img src="<%=user.avatar%>" alt="<%=user.name %>" width="100" id="img_dp" >
<%}%>
<!-- Access data from server. -->
<% if(locals.user.id == profile_user.id){%>
    <!-- If user matches, show the form  -->
    <form action="/user/update/<%=profile_user.id%>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="Profile picture" id="file-input" onchange="preview()";>
        <div id='container'>
            <p id="preview_text">Preview  your profile pic before upload.</p>
            <img id="preview">
          </div>
        <input type="submit" value="Update" id="upd_profile_pic">
        <!-- <p>printing locals.user.id = <%=locals.user.id%></p> -->
        <!-- <p>printing user.id = <%=user.id%></p> -->
    </form>
<%}else{%>
    <p>
        <%=profile_user.name%>
    </p>
    <p>
        <%=profile_user.email%>
    </p>
    <!-- if friendship exists, show link to add as friend, else delete as friend. -->


<%if(locals.are_friends==true){%>
    <a class="toggle-friends-button" href="/friends/toggle/<%=profile_user._id%>" >Unfollow</a>
    <%}else{console.log("are friends",are_friends);%>
        <a class="toggle-friends-button" href="/friends/toggle/<%=profile_user._id%>" >Follow </a>
      <%}%>

<%}%>
<script src="<%= assetPath('js/user_profile.js') %>"></script>

<!-- <%-include('_footer');%> -->
<!-- <footer>
            Page Footer
        </footer> -->
<!-- </body>
</html> -->